<?xml version="1.0" encoding="UTF-8"?>
<!-- This XML file is used for batch execution -->
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Regression Suite">
  
  <listeners>
  	<listener class-name="com.OrangeHRM.utilities.ExtentReportManager"></listener>
  </listeners>
  <parameter name="browsername" value="chrome"/>
  
  <test name="TC002_VerifyForgotYourPasswordLink">
    <classes>
      <class name="com.OrangeHRM.testCases.TC002_VerifyForgotYourPasswordLink"/>
    </classes>
  </test> 
  
  <test name="TC001_UserLoginTest">
    <classes>
      <class name="com.OrangeHRM.testCases.TC001_UserLoginTest"/>
    </classes>
  </test>

</suite> <!-- OrangeHRM Regression Suite -->
